*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "TT Lakes", sans-serif;
}

.container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    background-color: #F8F8F8;
}

.section {
    padding: 0; 
}

.header {
    height: 88px;
    display: flex;
    align-items: center;
    padding: 0 16px; 
    background-color: #ffffff;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
    gap: 16px; 
}

.header__btn {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__btn img {
    width: 100%;
    height: 100%;
}

.header__logo {
    width: 96.55px;
    height: 50.81px;
    border: none;
    flex-shrink: 0;
}

.header__divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    flex: 0 0 2px;
    margin-left: 16px;
    margin-right: 16px;
}

.services {
    padding: 24px 0;
    height: 509px;
    background-color: #F8F8F8;
    box-sizing: border-box; 
}

.services__header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px; 
    position: relative;
    padding-left: 16px; 
}

.services__decor {
    position: absolute;
    left: 2px; 
    top: 0;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 6px 6px 0; 
}

.services__title {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 16px;
}

.services__content {
    padding: 0 16px; 
}

.services__menu {
    overflow-x: auto;
    position: relative;
    top: -16px; 
    padding: 0 16px 0 8px; 
    scrollbar-width: none;
}

.services__menu::-webkit-scrollbar {
    display: none;
}

.services__list {
    display: flex;
    gap: 1px; 
    list-style: none;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.services__item {
    flex: 0 0 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    padding: 8px 4px; 
    border-radius: 6px; 
}

.services__item--state--active {
    border: 2px solid #41F6D7;
    border-radius: 6px;
}

.services__link {
    display: block;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    font-size: 16px;
    color: #7E7E82;
    white-space: nowrap;
}

.services__link--state--active {
    background-color: #ffffff;
    border: 2px solid #B8FFEC;
}

.services__text {
  font-family: TT Lakes, sans-serif;
   font-weight: 400;
    font-size: 14px;
    line-height: 18px; 
    margin-bottom: 16px;
    padding: 0 12px;
    letter-spacing: 0.2px; 
}

.services__more {
    width: 110px;
    height: 24px;
    margin-top: 16px;
    margin-left: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    background: none;
    border: none;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
}

.services__more span {
  font-family: 'TotalX', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  white-space: nowrap;
} 

.services__more img {
    width: 16px;
    height: 16px;
    display: block;
}

.services__more-icon {
    width: 24px;
    height: 24px;
    display: block;
}

.services__image {
  margin-top: 16px;
  padding-left: 0;
  padding-right: 0;
  }

  .services__image img {
    width: 100%;
    display: block;
  }