* {
    box-sizing: border-box;
}

.header {
    width: 320px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
}

.header__left,
    .header__right {
    display: flex;
    align-items: center;
    gap: 16px;
}
.header__btn {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__btn img {
width: 100%;
height: 100%;
}

.header__logo {
    width: 96.55px;
    height: 50.81px;
    border: 0.5px solid #80949F;
    box-sizing: border-box;
    flex-shrink: 0;
}

.header__divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    flex: 0 0 2PX;
}



















* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.services__list {
    display: flex;
    gap: 16px; 
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: hidden;
}

.services__menu {
    overflow-x: auto;
}

.services__item {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services__item--active {
    border: 2px solid #41F6D7;
    border-radius: 6px;
}

.services__text {
    margin-bottom: 16px;
}

.services__more {
  display: flex;            
  align-items: center;     
  gap: 8px;                
   background: none;        
  border: none;            
  color: #000000;          
  font-weight: 500;
  font-size: 14px;        
  cursor: pointer;
  padding: 0;
}

.services__more-icon {
  width: 16px;             
  height: 16px;
  display: block;
}