*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "TT Lakes", sans-serif;
}

button,
a {
    font-family: inherit;
}

.container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    background-color: #F8F8F8;
}

.section {
    padding: 0; 
    flex-direction: column;
    display: flex;
}

.header {
    height: 88px;
    display: flex;
    align-items: center;
    padding: 0 16px; 
    background-color: #ffffff;
    position: relative;
    z-index: 10;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
    gap: 16px; 
}

.header__btn {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__btn img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.header__logo {
    width: 96.55px;
    height: 50.81px;
    border: none;
    flex-shrink: 0;
}

.header__divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    flex: 0 0 2px;
    margin-left: 16px;
    margin-right: 16px;
}

.header__btn--tablet {
    display: none;
}

.services {
    padding: 24px 0;
    height: 509px;
    background-color: #F8F8F8;
    box-sizing: border-box; 
}

.services__header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px; 
    position: relative;
    padding-left: 16px;
}

.services__decor {
    position: absolute;
    left: 2px; 
    top: 0;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 6px 6px 0; 
}

.services__title {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 16px;
}

.services__content {
    padding: 0 16px; 
}

.services__menu {
    overflow-x: auto;
    position: relative;
    top: -16px; 
    padding: 0 16px 0 8px; 
    scrollbar-width: none;
}

.services__menu::-webkit-scrollbar {
    display: none;
}

.services__list {
    display: flex;
    gap: 1px; 
    list-style: none;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.services__item {
    flex: 0 0 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    padding: 8px 4px; 
    border-radius: 6px; 
}

.services__item--state--active {
    border: 2px solid #41F6D7;
    border-radius: 6px;
}

.services__link {
    display: block;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    font-size: 16px;
    color: #7E7E82;
    white-space: nowrap;
}

.services__link--state--active {
    background-color: #ffffff;
    border: 2px solid #B8FFEC;
}

.services__text {
  font-family: TT Lakes, sans-serif;
   font-weight: 400;
    font-size: 14px;
    line-height: 18px; 
    margin-bottom: 16px;
    padding: 0 12px;
    letter-spacing: 0.2px; 
}

.services__text--desktop-only {
    display: none; 
}

.services__more {
    height: 24px;
    margin-top: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    background: none;
    border: none;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.services__more span {
  font-family: 'TotalX', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  white-space: nowrap;
} 

.services__more img {
    width: 16px;
    height: 16px;
    display: block;
}

.services__more-icon {
    width: 24px;
    height: 24px;
    display: block;
}

.services__image {
  margin-top: 16px;
  padding-left: 0;
  padding-right: 0;
  }

  .services__image img {
    width: 100%;
    display: block;
  }

  .services__item--only-tablet {
    display: none;
}

.services__item--only-mobile {
    display: flex;
}

  .read-more {
    font-family: 'TT Lakes', sans-serif;
  }

  .read-more-wrapper {
  display: flex;           
  align-items: center;     
  gap: 4px;                
  margin-left: 16px;       
  white-space: nowrap;     
}

.read-more-text {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.read-more-icon {
  width: 24px;             
  height: 24px;
  margin-right: 4px;
  margin-left: -4px;
}


@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header__btn--tablet {
        display: flex; 
    }

    .header__divider {
        display: block; 
    }
    
    .header {
        width: 100%;            
        max-width: 768px;      
        justify-content: space-between; 
        padding: 0 24px;        
        margin: 0 auto;         
    }

    .header__right {
        gap: 20px;      
    }
}

    .services {
        width: 768px;
        height: 416px;
        background-color: #F8F8F8;
        padding-top: 24px; 
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow: hidden;
    }

    .services__header {
        margin-bottom: 32px; 
        height: 40px;
        padding-left: 0;
    }

    .services__decor {
        left: 0;
    }

    .services__title {
        padding-left: 24px;
        margin-bottom: 0;
    }

    
    .services__menu {
    top: 0;
    padding: 0;     
    margin-left: 24px;  
    margin-bottom: 32px;
  }

    .services__content {
    padding: 0;   
    margin-left: 24px;  
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;      
    max-width: 720px;
  }

    .services__text-block {
        flex: 0 0 312px;
        display: flex;
        flex-direction: column;
    }

    .services__text {
    padding-left: 0;  
    padding-right: 0;
    margin: 0;
    margin-bottom: 12px; 
  }

   .read-more-text {
        font-family: "TT Lakes", sans-serif;
        font-weight: 500;       
        font-size: 16px;      
        line-height: 24px;   
        letter-spacing: -0.2px; 
        color: #1B1C21;
    }
  
  .read-more-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: 16px; 
        margin-top: 12px;  
        cursor: pointer;
    }

    .services__image {
        flex: 0 0 360px;
        height: 208px;
        margin: 0 !important; 
    }

    .services__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }

    .services__item--only-mobile {
        display: none; 
    }

    .services__item--only-tablet {
        display: flex; 
    }



    @media (min-width: 1120px) {
    .header {
        display: none !important;
    }

    .container {
        max-width: 1120px;
        margin: 0 auto;
    }

    .services {
        width: 100%;
        height: auto; 
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        padding-top: 42px; 
        overflow: visible; 
    }

    .services__header {
        width: 100%;     
        height: auto;    
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        padding-left: 32px; 
        margin-bottom: 25px;
        position: relative;
        box-sizing: border-box; 
    }

    .services__title {
        padding-left: 0;
        margin: 0;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
    }

    .services__actions {
        display: flex;
        flex-direction: row; 
        align-items: center;
        gap: 32px;
        padding-right: 32px;
    }

    .services__action-item {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 500;
    }

    .header__btn--pink {
        background-color: #FF3E79; 
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: none;
        flex-shrink: 0; 
    }

    .services__menu {
        padding-left: 0 !important; 
        margin-left: 32px !important; 
        margin-bottom: 25px;
        width: 1088px !important; 
    }

    .services__list {
        display: flex;
        flex-wrap: wrap; 
        gap: 8px 10px !important;  
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .services__item, 
    .services__item--only-tablet {
        display: flex !important;
        visibility: visible !important;
        flex: 0 0 auto;
        width: auto;
    }

    .services__link {
        padding: 8px 8px !important; 
        font-weight: 500;
        text-decoration: none;
        color: #7E7E82;
        white-space: nowrap; 
        font-size: 16px;
        display: inline-block;
    }

    .services__link--state--active {
        background-color: #ffffff;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .services__content {
        margin-left: 32px; 
        margin-right: 32px;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 36px;
        align-items: flex-start; 
        margin-bottom: 80px; 
    }

    .services__text-block {
        flex: 0 0 490px;
        margin-top: 9px; 
    }

    .services__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .read-more-wrapper {
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    .services__image {
        flex: 0 0 531.35px;
        height: 307px;
        margin-top: 0; 
    }

    .services__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }

    .services__text--desktop-only {
        display: inline !important; 
        margin: 0; 
        padding: 0;
    }
}












    
